body {
    background-image: url("images/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    max-height: 95vh;
    border: 1px solid #e48a60;
    border-radius: 12px;
    background-color: #e48a60;
    box-shadow: 1px 1px 2px #8b4e42;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sub-main {
    position: relative;
    padding: 1% 5% 5% 5%;
}

::-webkit-scrollbar {
    width: 2px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    border: 0.1px solid #8b4e42;
    border-radius: 10px;
    background-color: #8b4e42;
    overflow: hidden;
}

::-webkit-scrollbar-button {
    height: 10px;
    visibility: hidden;
}

#heading {
    font-weight: 900;
    margin-bottom: 1.5rem;
}

#wordInput {
    border-color: #f1cea1;
}

#wordInput:focus {
    border-color: #8b4e42;
    outline: none !important;
    box-shadow: none !important;
}

#getValue {
    background-color: #8b4e42;
    border-color: #8b4e42;
}

#getValue:hover {
    background-color: #f1cea1;
    border-color: #f1cea1;
    color: #8b4e42
}

.dropdown-toggle::after {
    content: none !important;
}

.dropbtn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-top: 1.3rem;
}

#setValue {
    margin-right: 0.5rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu {
    border: none !important;
    width: auto !important;
    min-width: 60px !important;
}

.dropdown-menu>li>a {
    white-space: normal !important;
}

.dropdown-item:hover {
    background-color: #f1cea1 !important;
}

.dropdown-item:focus {
    background-color: #8b4e42 !important;
}

#dropicon,
#droploader {
    align-self: center;
    margin-bottom: 2px;
}

#result {
    display: none;
    font-size: 19px;
    font-weight: 600;
    height: auto;
}

#output {
    font-size: 18px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.5 !important;
    word-spacing: 1.5 !important;
    letter-spacing: 10;
}