body {
    background-image: url("Images/cozy_study_hall.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    max-height: 95vh;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #436850;
    color: #222831;
    box-shadow: 1px 1px 2px #436850;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sub-main {
    position: relative;
    padding: 2% 5% 5% 5%;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 3px !important;
    min-height: auto;
    max-height: 90% !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0;
}

::-webkit-scrollbar-thumb {
    background-color: #ADBC9F;
    border-radius: 24px;
}

#heading {
    font-weight: 900;
    margin-bottom: 1.5rem;
}

#wordInput {
    border-color: #436850;
    max-width: 200px;
    /* min-width: 150px; */
}

#wordInput:focus {
    border-color: #ADBC9F;
    outline: none !important;
    box-shadow: none !important;
}

#getValue {
    background-color: #ADBC9F;
    border-color: #ADBC9F;
    color: #222831;
    width: 80px;
}

#getValue:hover {
    background-color: transparent;
    /* border-color: #ffffff; */
    /* color: #8b4e42; */
}

.dropdown-toggle::after {
    content: none !important;
}

.dropbtn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-top: 1.3rem;
}

#setValue {
    margin-right: 0.5rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu {
    border: none !important;
    width: auto !important;
    min-width: 60px !important;
}

.dropdown-menu>li>a {
    white-space: normal !important;
}

.dropdown-item:hover {
    background-color: #E1F0DA !important;
}

.dropdown-item:focus {
    background-color: #ADBC9F !important;
}

#dropicon,
#droploader {
    align-self: center;
    margin-bottom: 2px;
}

#result {
    display: none;
    font-size: 20px;
    font-weight: 600;
    height: auto;
}

#output {
    font-size: 17px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.5 !important;
    word-spacing: 1.5 !important;
    letter-spacing: 10;
    color: #CCD3CA;
}

@media screen and (max-width: 1576px) {

    body {
        background-size: 100vw 100vh;
    }

}

@media screen and (max-width: 500px) {

    #main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-height: 95vh;
        border: 1px solid transparent;
        border-radius: 12px;
        background-color: #436850;
        color: #222831;
        box-shadow: 1px 1px 2px #436850;
        overflow-x: hidden;
        overflow-y: scroll;
    }

}
